// Colors
$color-lighter: #ccc;
$color-border-input: #ddd;

$color-black: black;
$color-text-heading: rgb(51, 51, 51);

$color-primary: #C9C5EE;
$color-white: white;
$color-secondary: #9c93eb;
$color-secondary-darker: #756eae;

// Font
$font-family: 'Poppins', sans-serif;